<!-- your html code here -->

<!-- primera linea -->
<div class="container">    
    
    <div class="row">
        <div class="col-3 p-0 my-4 d-flex justify-content-start">
            <img src="../website/assets/img/2.jpg" alt="WaltherWhite" class="rounded-circle object-fit-contain">

        </div>
        <div class="col-9 m-0 pt-5 fs-4">
            <h2 class="text-secondary fs-1"><strong class="text-dark">The Second Heading</strong> Is Pretty Cool Too</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A aut excepturi atque laudantium nam ipsam
                blanditiis. Id laudantium impedit molestiae, eveniet eaque ducimus natus aliquam placeat ipsam tenetur
                eligendi totam.</p>
        </div>

    </div>

</div>