<!-- your html code here -->

<!-- primera linea -->
<div class="container">    
    
    <div class="row border-top border-bottom align-items-center">
        <div class="col-4 col-4 p-0 my-4">
            <img src="../website/assets/img/2.jpg" alt="WaltherWhite" class="rounded-circle object-fit-contain h-50" style="width: 18rem;">

        </div>
        <div class="col-8 m-0 p-0">
            <h2 class="text-secondary"><strong class="text-dark">The Second Heading</strong> Is Pretty Cool Too</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A aut excepturi atque laudantium nam ipsam
                blanditiis. Id laudantium impedit molestiae, eveniet eaque ducimus natus aliquam placeat ipsam tenetur
                eligendi totam.</p>
        </div>

    </div>

</div>